#boards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
form {
  margin: auto;
  width: 40%;
}
#playerBoard {
  border-style: ridge;
  height: 500px;
  width: 500px;
}
#opponentBoard {
  border-style: ridge;
  height: 500px;
  width: 500px;
}
tr {
  border-style: ridge;
}
th {
  border-style: ridge;
}
td {
  border-style: ridge;
  margin: 0;
  padding: 0;
}
td:hover {
  color: red;
  background-color: red;
} 
table {
  border-spacing: 0;
}